body {
    background-color: black;
}

.wd-self {
    padding-top: 12px;
    padding-left: 16px;
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;
    border-right:none;
}

#id-1{
    font-size:20px;
    font-family: Futura;
    margin: 0;
    color: whitesmoke;
    padding-left:16px;

}

#id-2{
    font-size:13px;
    margin: 0;
    color: lightgray;
    padding-left:16px;
    padding-bottom:12px;
}
.wd-bookmark{
    margin-top:12px;
    margin-left:16px;
    display:flex;
}

.wd avatar{
    display:inline-block;
}

.wd-avatar img{
    margin-left:24px;
    margin-right: 12px;
    border-radius:50%;
    display:inline-block;
}

.wd-name{
    color:white;
    font-size:15px;
    display:inline;
}

.wd-person{
    display:inline;
}

.wd-handle{
    color:gray;
    font-size:15px;
    margin-left:4px;
    display:inline;
}

.wd-content{
    color:white;
    display:inline;
    max-width:506px;
    margin-right:16px;
    margin-bottom:0px;
}

.wd-bookmark p{
    margin-top:0px;
    margin-bottom:0px;
}

.wd-content-img img{
    border-radius:15%;
    display:inline-block;
}
.wd-content-img{
    display:inline-block;
    margin-left:100px;
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;
    border-radius:10%;
    max-width:506px;
}

.wd-content-img-title{
    color:white;
    font-weight: bold;
    font-size: 15px;
    padding-left:12px;
    padding-right:12px;
}

.wd-content-img-body{
    color:gray;
    font-size:15px;
    padding-left:12px;
    padding-right:12px;

}

.wd-content-img-icons{
    display:flex;
    justify-content: space-evenly;
    max-width:506px;
    margin-left:100px;
}
.wd-content-img-icons a{
    color:gray;
    text-decoration: none;
}

.wd-like a{
    color:red;
}