body{
    background-color: black;
}

.list-group-item{
    background-color:black;
    color:white;
}

.list-group-item.active{
    background-color:black;
    font-weight: bold;
    border-color: black;
}