.rotate-paragraph {
    width: 250px;
    height: 250px;
    transform: rotate(90deg);
}
.rotate-list {
    transform: rotate(12deg);
    width: 100px;
    background-color: red;
    color: white;
}

.different-list {
    transform: rotate(-12deg);
    width: 100px;
    background-color: red;
    color: white;
}
.rotate-list-items li {
    width: 100px;
    text-align: right;
}
.rotate-list-items li:nth-child(1) {
    transform: rotate(-10deg);
    background-color: yellow;
}
.rotate-list-items li:nth-child(2) {
    transform: rotate(2deg);
    background-color: blue;
    color: white;
}
.rotate-list-items li:nth-child(3) {
    transform: rotate(10deg);
    background-color: red;
}

.rotate-image {
    transform: rotate(-10deg);
}

.rotate-table {
    position: relative;
    left: 50px;
    transform: rotate(15deg);}
.rotate-table tr:nth-child(1) {
    background-color: black;
    color: white;}
.rotate-table tr:nth-child(n+2) {
    background-color: yellow;}
.rotate-table tr:nth-child(n+5) {
    background-color: blue;
    color: white;}
.rotate-table tr:nth-child(n+8) {
    background-color: red;}
.rotate-table tr:nth-child(n+11) {
    background-color: green;
    color: white;
}
.gradients-linear {
    background: linear-gradient(purple, green);
    width: 200px;
    height: 200px;
}
.gradients-radial {
    background: radial-gradient(orange, darkred);
    width: 200px;
    height: 200px;
}

.gradients-positioned {
    background:
            radial-gradient(at bottom left, yellow, teal);
    width: 200px;
    height: 200px;
    color: white;
}

.animation-keyframes {
    position: relative;
    top: 0px;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: slidein;
    width: 200px;
    height: 200px;
    background-color: red;
    color: white;
}

@keyframes slidein {
    from {
        position: relative;
        top: 0px;
        font-size: 100%;
        margin-left: 100%;
        width: 200px;
        height: 200px;
        background-color: black;
        color: white;
    }


    50% {
        position: relative;
        top: -400px;
        font-size: 50%;
        margin-left: 25%;
        width: 400px;
        height: 400px;
        background-color: blue;
        color: red;
    }

    to {
        position: relative;
        top: 0px;
        font-size: 25%;
        margin-left: 0%;
        width: 200px;
        height: 200px;
        background-color: red;
        color: white;
    }
}

.flex-container {
    display: flex;
    border-width: 5px;
    border-color: black;
    border-style: solid;
}

.flex-box {
    display: flex;
    border: 5px gray solid;
    margin: 10px;
    padding: 10px;
}
.flex-box-1 {
    display: flex;
    background-color: yellow;
}
.flex-box-2 {
    display: flex;
    background-color: blue;
    color: white;
}
.flex-box-3 {
    display: flex;
    background-color: red;
    color: white;
}

.flex-space-around{
    display: flex;
    background-color: blue;
    color: white;
    justify-content: space-around;
}

.flex-space-between{
    display: flex;
    background-color: blue;
    color: white;
    justify-content: space-between;
}

.flex-justify-center{
    display: flex;
    background-color: blue;
    color: white;
    justify-content: center;
}

.flex-justify-end{
    display: flex;
    background-color: blue;
    color: white;
    justify-content: end;
}

.flex-align-vertically{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.flex-align-center{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flex-stretch{
    display: flex;
    background-color: blue;
    color: white;
    align-items: stretch;
}
.flex-stretch>div{
    flex:1;
}

@media (min-width: 0px) and (max-width: 600px) {
    body {
        background-color: red;
    }
    .media-query {
        background-color: blue;
        color: red;
    }
    p{
        color:black;
        font-size:12px;
    }
}
@media (min-width: 600px) and (max-width: 1200px) {
    body {
        background-color: blue;
        color: white;
    }
    .media-query {
        background-color: yellow;
        color: black;
    }
    p{
        color:black;
        font-size:18px;
    }
}
@media (min-width: 1200px) and (max-width: 1800px) {
    body {
        background-color: red;
        color: white;
    }
    .media-query {
        background-color: blue;
        color: white;
    }
    p{
        color:black;
        font-size:24px;
    }
    div{
        margin: 8px;
    }
}
@media (min-width: 1800px)  {
    body {
        background-color: red;
        color: white;
    }
    .media-query {
        background-color: blue;
        color: white;
    }
    p{
        color:black;
        font-size:70px;
    }
    div{
        margin: 10px;
    }
}


